.filter-row-icon {
    color: #ab5858;
    font-size: smaller;
}

.filter-row-selected {
    text-decoration: underline;
    color: #ecf5e2;
}

.filter-row-spacer {
    padding-left: 16px;
}

.filter-row span {
    cursor: pointer;
    font-size: 13px;
}

.filter-row .filter-row-link:hover {
    text-decoration: underline;
}

.filter-row {
    cursor: pointer;
}

.filter-row div {
    max-width: 120px;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    word-wrap: normal; 
}