li > span {
    color: #ab5858;
    font-size: smaller;
    cursor: pointer;
}

.filter-list {
    padding-top: 15px;
    min-width: 145px;
}

.filter-list-element {
    padding-left: 10px;
    padding-bottom: 5px;
}

.filter-row-unselected {
    margin-left: 5px;
    padding: 11px;
    background-color: aliceblue;
}

.filter-row-unselected input {
    width: 90px;
}

.datepicker__calendar {
    background-color: red;
    position: relative;
}

.datepicker {
    width: 90px;
}