<div class="entry">
  <div class="row">
    <div class="col-md-2">
      <div class="result win"></div>
      <div class="time-and-mode">{{match.timestamp | date:'medium'}}<br/>{{match.mode}}</div>
    </div>
    <div class="col-md-3">
      <div class="player" style="right: 0">
        <div class="name-and-mmr first">{{match.player.name}}<br/>{{match.player.mmr}}</div>
        <img class="faction right" [src]="match.playersDeckMeta.faction | faction2IconUrl" />
        <img class="faction right" [src]="match.playersDeckMeta.leader | leader2IconUrl" />
      </div>
    </div>
    <div class="col-md-2 vs">VS.</div>
    <div class="col-md-3">
      <div class="player" style="left: 0">
        <img class="faction right" [src]="match.opponentsDeckMeta.faction | faction2IconUrl" />
        <img class="faction right" [src]="match.opponentsDeckMeta.leader | leader2IconUrl" />
        <div class="name-and-mmr">{{match.opponent.name}}<br/>{{match.opponent.mmr}}</div>
      </div>
    </div>
  </div>
</div>