.faction {
    height: 60px;
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    /*border: 1px solid #756868;
    border-radius: 5px;*/
}

.result-win-border {
    border-left: #3ae03a;
    border-left: #66e631;
    border-left-width: 10px;
    border-left-style: solid;
}

.result-loss-border {
    border-left: #f75a5a;
    border-left-width: 10px;
    border-left-style: solid;
}

.result-draw-border {
    border-left: #f7d660;
    border-left-width: 10px;
    border-left-style: solid;
}

td {
    padding-top: 5em;
    padding-bottom: .5em;
}

table {
    border-collapse: collapse;
}